/* Colors */
.inverse {
  color: var(--color-palette-1-inverse);
}

/* Font Sizes */
.headline-small {
  font-size: var(--font-size-headline-small);
  font-family: var(--font-face-sans);
  text-transform: uppercase;
}

.headline-medium {
  font-size: var(--font-size-headline-medium);
  font-family: var(--font-face-sans);
  text-transform: uppercase;
}

.headline-large {
  font-size: var(--font-size-headline-large);
  font-family: var(--font-face-sans);
  text-transform: uppercase;
}

.headline-xlarge {
  font-size: var(--font-size-headline-xlarge);
  font-family: var(--font-face-sans);
  text-transform: uppercase;
}

/* Main Navigation */
.main-navigation {
  background-color: var(--color-palette-1);
}

.main-navigation .logo img {
  max-width: 200px;
}

.main-navigation .right-links {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.main-navigation .right-links a {
  margin-inline-start: 16px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

.main-navigation .right-links a:hover {
  color: var(--color-palette-4);
  text-decoration: underline;
}

@media (max-width: 767px) {
  .main-navigation {
    text-align: center;
  }

  .main-navigation .right-links {
    justify-content: center;
  }
}

/* Page Title */
.page-title {
  background-color: var(--color-palette-2);
  padding-block-start: var(--spacing-6x);
  padding-block-end: var(--spacing-6x);
}

/* Footer */
.footer {
  background-color: var(--color-palette-3);
}

/* Upcoming Reviews */
.carousel {
  width: 100%;
}

.upcoming-reviews .slides,
.upcoming-reviews .slides-wrapper {
  height: 400px;
}

.slides-wrapper {
  overflow: hidden;
  margin: var(--spacing-1x) auto;
  position: relative;
}

.slides {
  position: absolute;
}

.upcoming-reviews .slide {
  width: 200px;
  display: inline-block;
}

.upcoming-reviews .title {
  height: var(--spacing-6x);
}

.upcoming-reviews .buttons {
  display: flex;
  justify-content: center;
}

.upcoming-reviews .buttons button {
  margin: var(--spacing-1x);
}

/* Feature Author */
.featured-author {
  border: 1px var(--color-grayscale-300) solid;
  border-radius: var(--border-radius-medium);
  filter: drop-shadow(0 0 8px var(--color-grayscale-400));
  background-color: var(--color-grayscale-100);
}

.featured-author__title {
  text-transform: uppercase;
}

/* Sponsors */

.sponsors__sponsor {
  margin-bottom: var(--spacing-4x);
}

/* Authors */
.author-card__image {
  aspect-ratio: 4/5;
  overflow: hidden;
  border-radius: var(--border-radius-small);
}

.author-card__name {
  text-transform: uppercase;
  margin-top: var(--spacing-1x);
}

.author__info img {
  max-width: 300px;
}

.author__about,
.author__bibliography,
.author__more-info {
  margin-bottom: var(--spacing-3x);
}

.author__more-info p {
  margin-bottom: var(--spacing-2x);
}


/* Reviews */
.review section {
  margin-block-end: var(--spacing-3x);
}

.review-card a {
  border: 1px var(--color-grayscale-300) solid;
  border-radius: var(--border-radius-medium);
  filter: drop-shadow(0 0 8px var(--color-grayscale-400));
  background-color: var(--color-grayscale-100);
  padding: var(--spacing-1x);
}

.review-card a {
  text-decoration: none;
  color: var(--color-primary);
}

.review-card a:hover {
  border: 2px var(--color-palette-2) solid;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  background-color: var(--color-palette-3);
}

.history-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.history-item:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--color-palette-2);
  position: absolute;
  left: 192px;
  border-radius: var(--border-radius-full);
  z-index: 2;
  top: 24px;
}

.history-item.right {
  align-items: flex-end;
}

.history-content {
  transition: transform 1s ease-in-out;
  width: 120px;
}

.history-item.event {
  z-index: 2;
}

.history-item.event:after {
  display: none;
}

.history-event-content {
  text-align: center;
  margin-block-start: var(--spacing-2x);
  margin-block-end: var(--spacing-2x);
  background: var(--color-palette-4);
  border-radius: var(--spacing-1x);
  padding: var(--spacing-1x);
  border: 1px var(--color-palette-2) solid;
}

.history-item.active .history-content {
  transform: translateX(var(--spacing-6x));
}

.history-item.right.active .history-content {
  transform: translateX(calc(var(--spacing-6x) * -1));
}

