/*
Responsive Grid Styles

The grid includes 12 columns of equal width and two breakpoints for mobile and desktop.
Each grid column has 1rem pixels of space between them and 15 pixels on the sides of the page.
Columns can be offset by any number of columns in either breakpoint.
*/


/* container div wraps around groups of columns */
.container {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--breakpoint-large-max);
}

/* Nested containers should align instead of indent */
.container .container {
  margin-inline-start: -0.5rem;
  margin-inline-end: 0;
}

/* add padding to all columns for gutters */
/* border-box makes widths include padding */

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding: 0.5rem;
  box-sizing: border-box;
}

/* column widths for mobile view port */

.col-sm-1 {
  width: 8.3%;
}

.col-sm-2 {
  width: 16.6%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.3%;
}

.col-sm-5 {
  width: 41.6%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.3%;
}

.col-sm-8 {
  width: 66.6%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.3%;
}

.col-sm-11 {
  width: 91.6%;
}

.col-sm-12 {
  width: 100%;
}

/* Mobile offsets - using margin-inline-start instead of margin-left for better RTL languages */
.offset-sm-1 {
  margin-inline-start: 8.3%;
}

.offset-sm-2 {
  margin-inline-start: 16.6%;
}

.offset-sm-3 {
  margin-inline-start: 25%;
}

.offset-sm-4 {
  margin-inline-start: 33.3%;
}

.offset-sm-5 {
  margin-inline-start: 41.6%;
}

.offset-sm-6 {
  margin-inline-start: 50%;
}

.offset-sm-7 {
  margin-inline-start: 58.3%;
}

.offset-sm-8 {
  margin-inline-start: 66.6%;
}

.offset-sm-9 {
  margin-inline-start: 75%;
}

.offset-sm-10 {
  margin-inline-start: 83.3%;
}

.offset-sm-11 {
  margin-inline-start: 91.6%;
}

.offset-sm-12 {
  margin-inline-start: 100%;
}

@media (min-width: 768px) {
  .col-lg-1 {
    width: 8.3%;
  }

  .col-lg-2 {
    width: 16.6%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3%;
  }

  .col-lg-5 {
    width: 41.6%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3%;
  }

  .col-lg-8 {
    width: 66.6%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3%;
  }

  .col-lg-11 {
    width: 91.6%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .offset-lg-1 {
    margin-inline-start: 8.3%;
  }

  .offset-lg-2 {
    margin-inline-start: 16.6%;
  }

  .offset-lg-3 {
    margin-inline-start: 25%;
  }

  .offset-lg-4 {
    margin-inline-start: 33.3%;
  }

  .offset-lg-5 {
    margin-inline-start: 41.6%;
  }

  .offset-lg-6 {
    margin-inline-start: 50%;
  }

  .offset-lg-7 {
    margin-inline-start: 58.3%;
  }

  .offset-lg-8 {
    margin-inline-start: 66.6%;
  }

  .offset-lg-9 {
    margin-inline-start: 75%;
  }

  .offset-lg-10 {
    margin-inline-start: 83.3%;
  }

  .offset-lg-11 {
    margin-inline-start: 91.6%;
  }

  .offset-lg-12 {
    margin-inline-start: 100%;
  }
}

/* Utility Classes */
.padding-sm {
  padding-block-start: var(--spacing-1x);
  padding-block-end: var(--spacing-1x);
  padding-inline-start: var(--spacing-1x);
  padding-inline-end: var(--spacing-1x);
}

.padding-md {
  padding-block-start: var(--spacing-2x);
  padding-block-end: var(--spacing-2x);
  padding-inline-start: var(--spacing-2x);
  padding-inline-end: var(--spacing-2x);
}

.padding-lg {
  padding-block-start: var(--spacing-4x);
  padding-block-end: var(--spacing-4x);
  padding-inline-start: var(--spacing-4x);
  padding-inline-end: var(--spacing-4x);
}

.padding-xlg {
  padding-block-start: var(--spacing-6x);
  padding-block-end: var(--spacing-6x);
  padding-inline-start: var(--spacing-6x);
  padding-inline-end: var(--spacing-6x);
}

.padding-y-sm {
  padding-block-start: var(--spacing-1x);
  padding-block-end: var(--spacing-1x);
}

.padding-y-md {
  padding-block-start: var(--spacing-2x);
  padding-block-end: var(--spacing-2x);
}

.padding-y-lg {
  padding-block-start: var(--spacing-4x);
  padding-block-end: var(--spacing-4x);
}

.padding-y-xlg {
  padding-block-start: var(--spacing-6x);
  padding-block-end: var(--spacing-6x);
}

.padding-y-top-sm {
  padding-block-start: var(--spacing-1x);
}

.padding-y-top-md {
  padding-block-start: var(--spacing-2x);
}

.padding-y-top-lg {
  padding-block-start: var(--spacing-4x);
}

.padding-y-top-xlg {
  padding-block-start: var(--spacing-6x);
}

.padding-y-bottom-sm {
  padding-block-end: var(--spacing-1x);
}

.padding-y-bottom-md {
  padding-block-end: var(--spacing-2x);
}

.padding-y-bottom-lg {
  padding-block-end: var(--spacing-4x);
}

.padding-y-bottom-xlg {
  padding-block-end: var(--spacing-6x);
}