:root {
  --breakpoint-large-min: 768px;
  --breakpoint-large-max: 1440px;
  
  --font-size-base: 16px;
  --font-size-body-small: 0.625rem;
  --font-size-body: 1rem;
  --font-size-headline-small: 1.25rem;
  --font-size-headline-medium: 2rem;
  --font-size-headline-large: 3rem;
  --font-size-headline-xlarge: 4rem;

  --font-face-sans: 'Roboto', sans;

  --spacing-1x: 0.5rem;
  --spacing-2x: 1rem;
  --spacing-3x: 1.5rem;
  --spacing-4x: 2rem;
  --spacing-5x: 2.5rem;
  --spacing-6x: 3rem;
  --spacing-7x: 3.5rem;
  --spacing-8x: 4rem;

  --border-radius-small: var(--spacing-1x);
  --border-radius-medium: var(--spacing-2x);
  --border-radius-large: var(--spacing-4x);
  --border-radius-xlarge: var(--spacing-6x);
  --border-radius-full: 1000px;

  --color-success: green;
  --color-warning: red;
  --color-info: blue;

  /* Grayscale Design palette: https://grayscale.design/app?lums=92.72,85.96,73.80,58.76,39.22,24.42,15.15,11.44,6.93,4.69&palettes=&filters=&names=&labels= */
  --color-grayscale-50: rgb(247, 247, 247);
  --color-grayscale-100: rgb(239, 239, 239);
  --color-grayscale-200: rgb(223, 223, 223);
  --color-grayscale-300: rgb(202, 202, 202);
  --color-grayscale-400: rgb(168, 168, 168);
  --color-grayscale-500: rgb(135, 135, 135);
  --color-grayscale-600: rgb(109, 109, 109);
  --color-grayscale-700: rgb(95, 95, 95);
  --color-grayscale-800: rgb(74, 74, 74);
  --color-grayscale-900: rgb(61, 61, 61);

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-palette-1: #0c120c;
  --color-palette-2: #c20114;
  --color-palette-3: #6d7275;
  --color-palette-4: #c7d6d5;
  --color-palette-5: #ecebf3;
  --color-palette-1-inverse: #FFFFFF;
  --color-palette-2-inverse: #FFFFFF;
  --color-palette-3-inverse: #000000;
  --color-palette-4-inverse: #000000;
  --color-palette-5-inverse: #000000;
}